
html, body {
    overflow-y: auto !important;
    height: auto !important;
}

.isNewProductPage, .isNewLoginPage {
    background-image: url('/images/bgmobile.png');
  background-size: auto;           /* Faz a imagem preencher todo o espaço disponível */
  background-position: center;      /* Centraliza a imagem para não cortar apenas um lado */
  background-repeat: no-repeat;     /* Impede que a imagem se repita caso a tela seja gigante */
  background-attachment: fixed;     /* Mantém o fundo parado enquanto você rola a página */
  min-height: 100dvh;                /* Garante que o fundo tenha no mínimo a altura da tela */
margin:0 !important;
padding: 0 !important;

}
.isNewLoginPage {
    display: flex;
flex-direction: column;
justify-content: space-between
}

.glass-panel {
  margin-top: 50px !important;
  padding: 15px;
    background: rgba(255, 255, 255, 0.2);
    
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px !important;
    
}
